<!-- <!-- <form #f="ngForm" name="form" (ngSubmit)="addStudent()">
  <div>
    <label for="firstname">First Name</label>
    <input
      type="text"
      id="id"
      name="name"
      [(ngModel)]="model.name"
    /><br><br>
  </div>
  <div>
    <label for="email">Email id</label>
    <input type="email" id="email" name="email" [(ngModel)]="model.email" />
  </div><br><br>
  <div>
    <label for="dob">Date Of Birth</label>
    <input type="date" id="dob" name="dob" [(ngModel)]="model.dob" />
  </div><br><br>
  <div>
    <label for="male">Male</label>
    <input
      type="radio"
      id="gender"
      name="gender"
      value="female"
      [(ngModel)]="model.gender"
    />
    <label for="male">Female</label>
    <input
      type="radio"
      id="gender"
      name="gender"
      value="male"
      [(ngModel)]="model.gender"
    />
    <label for="male">Other</label>
    <input
      type="radio"
      id="gender"
      name="gender"
      value="other"
      [(ngModel)]="model.gender"
    />
  </div>
  <div>
    <label for="qualification">Qualification</label>
    <select name="qualification" id="qualification" [(ngModel)]="model.qualification">
      <option value="IT">IT</option>
      <option value="CSE">CSE</option>
      <option value="ECE">ECE</option>
      <option value="EEE">EEE</option>
      <option value="EIE">EIE</option>
    </select>
  </div><br>
  <div><tr>
    <th>Upload your pic</th>
    <td><input type="file"/></td>
    </tr></div><br>
  <div>
    language
    <input type="checkbox" id="lang1" name="language1" value="Tamil" [(ngModel)]="model.language" /> 
    <label for="vehicle1"> Tamil</label>
    <input type="checkbox" id="lang2" name="language2" value="English" [(ngModel)]="model.language" />
    <label for="vehicle2"> English</label>
    <input type="checkbox" id="lang3" name="language3" value="Japanese" [(ngModel)]="model.language" />
    <label for="vehicle3"> Japanese</label><br />
  </div>
  <div>
    <br>
  Address  
<textarea cols="80" rows="5" value="address"[(ngModel)]="model.language">  
</textarea>  
<br> <br>  
  </div>
  <div><tr>
    <th>Select your hobbies</th>
    <td><br>
    hobby1<input type="checkbox" name="x[]" value="h"/>
    hobby2<input type="checkbox" name="x[]" value="h2"/>
    hobby3<input type="checkbox" name="x[]" value="h3"/>
    </td>
    </tr></div>
  <input type="submit" class="btn btn-success" value="save" />
</form> -->
 -->
 <div class="header" style="text-align:center">
 <h1 style="color:red">Student Form</h1>
 </div>
 <form #f="ngForm" name="form" (ngSubmit)="addStudent()" class="row g-12">
 <div>
   <div class="col-12">
     <label for="firstname">First Name</label>&nbsp;
     <input
       type="text"
       id="fname"
       name="firstname"
       [(ngModel)]="model.firstname"
     />
   </div>
   <br />
   <div class="col-12">
     <label for="lastname">Last Name</label>&nbsp;
     <input
       type="text"
       id="lname"
       name="lastname"
       [(ngModel)]="model.lastname"
     />
   </div>
   <br />
   <div class="col-12">
     <label for="email">Email id</label>&nbsp;
     <input type="email" id="email" name="email" [(ngModel)]="model.email" />
   </div>
   <br />
   <div class="col-12">
     <label for="dob">Date Of Birth</label>&nbsp;
     <input type="date" id="dob" name="dob" [(ngModel)]="model.dob" />
   </div>
   <br />
   <label for="gender"> Gender </label>
   <div class="col-12">
     <label for="male">Male</label>&nbsp;
     <input
       type="radio"
       id="gender"
       name="gender"
       value="male"
       [(ngModel)]="model.gender"
     />
     &nbsp;
     <label for="male">Female</label>&nbsp;
     <input
       type="radio"
       id="gender"
       name="gender"
       value="female"
       [(ngModel)]="model.gender"
     />
     &nbsp;
     <label for="other">Other</label>&nbsp;
     <input
       type="radio"
       id="gender"
       name="gender"
       value="other"
       [(ngModel)]="model.gender"
     />
   </div>
   <br />
   <div class="col-12">
     <label for="qualification">Qualification</label>&nbsp;
     <select
       name="qualification"
       id="qualification"
       [(ngModel)]="model.qualification"
     >
       <option value="IT">IT</option>
       <option value="CSE">CSE</option>
       <option value="ECE">ECE</option>
       <option value="EEE">EEE</option>
       <option value="EIE">EIE</option>
     </select>
   </div>
   <br />
   <label>Language Known</label>
   <div class="col-12">
     <input
       type="checkbox"
       id="lang1"
       name="language1"
       value="Tamil"
       [(ngModel)]="model.language"
     />
     &nbsp;<label for="vehicle1"> Tamil</label><br />
     <input type="checkbox" id="lang2" name="language2" value="English" />
     &nbsp;<label for="vehicle2"> English</label><br />
     <input type="checkbox" id="lang3" name="language3" value="Japanese" />
     &nbsp;<label for="vehicle3">Baduga</label><br />
   </div>
   <br />
 </div>
 <p>
   Everything you write in the textarea will also be the content of the heading
   below:
 </p>
 <textarea ng-model="myTextarea"></textarea>
 <!-- <p>The content of the textarea is;</p> -->
 <br />
 <input type="submit" class="btn btn-success" value="save" />
 <!-- <h1>{{myTextarea}}</h1> -->
 </form>
 <!-- style=" width: 50vw; margin-left : 25vw;" -->